.demo-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-xl);
}

.demo-description,
.demo-preview {
  flex: 1;
}

.demo-preview {
  text-align: center;
  
  img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: var(--shadow-heavy);
  }
}